 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
 <title>{{ i18n "cfc" }}{{ with .Page.Title }} - {{ . }}{{ end }}</title>
{{- with .Params.redirect_url }}
 <meta http-equiv="refresh" content="0; url={{ . }}">
{{- end }}
 <meta name="description" content="{{- block "description" . -}}{{- .Site.Params.description -}}{{- end -}}">
 {{ hugo.Generator }}
{{- with .OutputFormats.Get "rss"}}{{/* FIX: it escapes the valid + in type; safeHTMLAttr not work */}}
 {{ printf "<link rel=%q href=%q title=%q type=%q/>" .Rel .Permalink $.Site.Title .MediaType.Type | safeHTML }}
{{- end }}
 <link rel="preconnect" href="https://www.google-analytics.com">
{{- with $.Page.Params.page_css }}
 <style>
{{ . | safeCSS }}
 </style>
{{- end }}
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Oswald:600&display=swap">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
{{- $opts := (dict
    "outputStyle" "compressed"
    "includePaths" (slice "node_modules")
 ) }}
{{- $style := resources.Get "css/cfc-2020.scss" | css.Sass $opts | resources.Fingerprint }}
 <link rel="stylesheet" href="{{ $style.RelPermalink }}">
