<!doctype html>

<html lang="{{ .Page.Language }}"{{ with .Params.pageid }} data-pageid="{{.}}"{{end}}>
<head>
{{ partial "html/head.html" . }}
{{- block "inside-head" . }}{{ end -}}
</head>

<body s-cloak>
 <div id="ws-overlay"></div>
 <div x-x-data="page_data">
{{ partial "html/body-topbar.html" . -}}

{{ block "main" . }}
 <section class="ws-content container">
  <h3>UNDER CONSTRUCTION!</h3>
 </section>
{{ end }}

{{ partialCached "html/body-footer.html" . }}
 </div>
{{- partial "html/body-scripts.html" . }}
{{- partial "google-analytics.html" . }}
</body>
</html>
