{{- define "main" }}
{{- $lang := $.Page.Language.Lang }}
{{- $i18n := $.Page.Params.i18n }}
{{- $list_blogs := first 20 (where .Site.RegularPages "Section" "blog") }}
 <main id="ws-home" aria-label="Main" class="container content pad-touch-only">
  <div class="columns">
   <!-- LEFT MAIN COLUMN -->
   <div class="column is-8">
    <div class="columns is-multiline">
     <div class="column is-12">
{{- partial "home/quick-links-mobile.html" . }}
      <div class="is-pulled-right">
       <a href="/{{ $lang }}/players/membership-join/" class="button is-small is-primary"><b>{{ $i18n.join }}</b></a>
      </div>
      <p class="ws-intro">{{ $i18n.intro_text | safeHTML }}</p>
     </div>
     <div class="column is-12">
      <news-flashes sveltejs lang="{{ $lang }}"></news-flashes>
      <photo-box sveltejs lang="{{ $lang }}" wait_ms="6000">&nbsp;</photo-box>
     </div>

     <div class="column is-6">
{{- partial "home/news.html" . }}
     </div>

     <div class="column is-6">
      <next-events sveltejs lang="{{ $lang }}"></next-events>
     </div>

     <!--div class="column is-12 is-hidden-mobile">
{{- partial "home/game-of-the-week.html" . }}
     </div-->
    </div>
   </div>

   <!-- RIGHT COLUMN -->
   <div class="column is-4">
    <div class="columns is-multiline">
     <div class="column is-12">
{{- partial "home/quick-links.html" . }}
     </div>
     <div class="column is-12">
       <p class="is-small mb-0">{{ $i18n.under_military_attack|safeHTML }}</p>
      <div class="ukraine is-inline-block">{{ $i18n.ukraine|safeHTML }}</div>
     </div>
     <div class="column is-12">
       <p class="is-small mb-0">{{ $i18n.under_economic_attack|safeHTML }}</p>
       <img src="/img/canada.flag.svg">
       <p class="is-small mb-0">{{ $i18n.keep_calm_play_chess|safeHTML }}</p>
     </div>
     <div class="column is-12">
{{- partial "home/puzzle-of-the-day.html" . }}
     </div>
     <div class="column is-12">
{{- partial "home/shop.html" . }}
     </div>
    </div>
   </div>
  </div>
 </main>
{{ end }}
