
{{- define "title" -}}
  {{ .Title }}
{{- end }}

{{- define "main" }}
 <main class="ws-main container">
    <h1 id="ws-page-title" class="title mt-3">{{ .Title }}</h1>
    <div class="ws-section-menu columns is-multiline">
{{- range $group := .Params.sectionMenu.groups }}
     <div class="column {{ $group.classes | default "is-6 is-4-desktop" }}">
      <div class="box" style="height:100%;">
       <h4 class="title is-6"><i class="fas fa-chess-bishop"></i></span> {{$group.title|safeHTML}}</h4>
       <p>
{{- range $item := $group.items}}
        <a href="{{$item.url | safeHTML }}" class="button is-small"{{ with $item.download }} download{{ end }}>
         {{- with $item.uc }}&empty; {{ end }}{{ $item.txt|safeHTML -}}
        </a>
{{- end }}
       </p>
      </div>
     </div>
{{- end }}
   </div>
{{ .Content }}
 </main>
{{- end }}