+++
title = "d'accueil"
date = "2020-07-11"
pageid = "pg-home"
# gotw_id = "6887396"
gotw_id = "6922798"
gotw_text = ""
include_js = "cfc-data"

[i18n]
    intro_text = "La Fédération Canadienne des Échecs (FCE) est l'organisme national de sport pour le jeu et du sport d'échecs au Canada."
    join = "REJOIGNEZ le FCE"
    GOTW = "Jeu de la semaine"
    quick_links = "Liens rapides"
    puzzle_of_the_day = "Puzzle du jour"
    Benefits = "Avantages"
    discounts_for_members = "Réductions pour les membres"
    ukraine = "<a href=\"https://www.canada.ca/fr/immigration-refugies-citoyennete/services/immigrer-canada/mesures-ukraine/aider.html\">Aidez l'Ukraine</a> alors qu'elle se bat pour nous tous sur les lignes de front du monde libre."
    under_military_attack = "Sous attaque <i>militaire</i> ..."
    under_economic_attack = "Sous attaque <i>économique</i>..."
    keep_calm_play_chess = "Restez calme et <i>jouez aux échecs!</i>"
+++
