+++
title = "Home"
date = "2020-07-11"
pageid = "pg-home"
# gotw_id = "6887396"
gotw_id = "6922798"
gotw_text = ""
include_js = "cfc-data"

[i18n]
    intro_text = "The Chess Federation of Canada (CFC) is the National Sport Organization for the game &amp; sport of chess in Canada."
    join = "JOIN the CFC"
    GOTW = "Game of the Week"
    quick_links = "Quick Links"
    puzzle_of_the_day = "Puzzle of the Day"
    Benefits = "Benefits"
    discounts_for_members = "Discounts for Members"
    ukraine = "<a href=\"https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/ukraine-measures/help.html\">Help Ukraine</a> as they fight for all of us on the front lines of the free world."
    under_military_attack = "Under <i>military</i> attack ..."
    under_economic_attack = "Under <i>economic</i> attack ..."
    keep_calm_play_chess = "Keep calm and <i>play chess!</i>"
+++
