<div class="message">
  <div class="message-body">
    <b>NOTICE</b>: On Jan 2, the adjustment formula was changed for those players who joined
    the CFC in April, 2020 or later (who have a CFC id greater than 172652).
    See <a href="https://www.chesscanada.info/forum/showthread.php?6586-CFC-2024-Ratings-Adjustment">FORUM POST</a>.
  </div>
</div>
<div class="message">
  <div class="message-body">
    <b>NOTICE</b>: The <i>Adjustment Estimator</i> has been disabled
    since it applied the adjustment to current CFC ratings data ...
    and, as of Jan 1, the current CFC ratings data is already adjusted.
  </div>
</div>

<!-- div x-data="adjustor">
  <div class="field">
    <div class="control">
      <label class="label is-small"><span x-text="_.enter_cfc_id"></span>:
        <input class="input is-small" type="number" min="100000" max="200000" x-model="cfc_id" @change="changed" @keyup="changed">
      </label>
    </div>
  </div>
  <button class="button is-primary is-small" @click="load_data" x-text="_.load"></button>

  <style>
    .ratings-calc { font-size:90%; }
    .ratings-calc tr td { vertical-align:top; }
    .ratings-calc tr td:first-child { text-align:right; width:30%; }
    .ratings-calc tr td:nth-child(3) { width:40%; }
    .ratings-calc tr td:nth-child(3) { width:40%; }
    .ratings-calc tbody tr td.green { background-color:#bfb; }
  </style>
  <div x-show="mode==='results' && r_now < 2000" x-transition:enter.duration.800ms>
    <table class="table ratings-calc">
      <tr>
        <td>Games played 2016 to 2020-04:</td>
        <td colspan="2"><span x-text="gp_2016_2020"></span> games</td>
      </tr>
      <tr>
        <td>Rating on 2020-04-01:</td>
        <td colspan="2" x-text="r_2020"></td>
      </tr>
      <tr>
        <td>Games played after 2020-04-01:</td>
        <td colspan="2"><span x-text="gp_2020_now"></span> games</td>
      </tr>
      <tr>
        <td>Current Rating:</td>
        <td class="green" x-text="r_now"></td>
        <td></td>
      </tr>
      <tr>
        <td>FIDE-like Adjustment:</td>
        <td colspan="2">+<span x-text="fide_adj"></span> = min(400, 40% of (2000 - <span x-text="r_now"></span>))</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><b>Pre-COVID Period</b></td>
        <td><b>Post-COVID Period</b></td>
      </tr>
      <tr>
        <td>FIDE-like Adjust Split:</td>
        <td>+<span x-text="fide_adj_pre+' = '+fide_adj+'&div;2'"></span></td>
        <td>+<span x-text="fide_adj_post+' = '+fide_adj+'&div;2'"></span></td>
      </tr>
      <tr>
        <td>CFC Adjust (2 pts/gp):</td>
        <td x-text="'+'+cfc_adj_pre+' = 2&times;'+gp_2016_2020+' games'"></td>
        <td x-text="'+'+cfc_adj_post+' = 2&times;'+gp_2020_now+' games'"></td>
      </tr>
      <tr>
        <td>Period Adjustment:</td>
        <td x-text="'+'+adj_pre+' = min(+'+fide_adj_pre+', +'+cfc_adj_pre+')'"></td>
        <td x-text="'+'+adj_post+' = min(+'+fide_adj_post+', +'+cfc_adj_post+')'"></td>
      </tr>
      <tr>
        <td>Total Adjustment:</td>
        <td x-text="'+'+total_adj+' = '+adj_pre+' + '+adj_post"></td>
        <td></td>
      </tr>
      <tr>
        <td>Adjusted Rating:</td>
        <td class="green" x-text="r_adjusted"></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div x-show="mode==='results' && r_now >= 2000" x-transition:enter.duration.800ms>
    <table class="table ratings-calc">
      <tr>
        <td>Current Rating:</td>
        <td class="green" x-text="r_now"></td>
        <td></td>
      </tr>
      <tr>
        <td>Total Adjustment:</td>
        <td colspan="2">+0 (no adjustment if current rating is &ge;2000</td>
    </table>
  </div>
  <div x-show="mode==='errs'">
    <div style="background-color:#fdd;">
    <ul>
      <template x-for="err in errs">
        <li x-text="err"></li>
      </template>
    </ul>
    </div>
  </div>
</div -->
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('adjustor', function () {
      return {
        cfc_id: "",
        // inputs
        r_2020: 0,
        r_now: 0,
        gp_2016_2020: 0,
        gp_2020_now: 0,
        // calculated
        fide_adj: 0,
        fide_adj_pre: 0,
        fide_adj_post: 0,
        cfc_adj_pre: 0,
        cfc_adj_post: 0,
        adj_pre: 0,
        adj_post: 0,
        total_adj: 0,
        r_adjusted: 0,

        // other
        load_data: load_data,
        calculate_adjustment: calculate_adjustment,
        errs: [],
        mode: "", //"results",
        _: window.page_i18n || {},

        changed: function() {
          this.mode = '';
        },
      }
    });

    async function load_data() {
      this.errs = [];
      const cfc_id = parseInt(this.cfc_id);
      if (isNaN(cfc_id)) {
        this.errs.push('CFC id is invalid');
        this.mode = 'errs';
        return;
      }
      const api_url = `https://server.chess.ca/api/player/v1/${cfc_id}`;
      const api_rsp = await fetch(api_url, {method: 'GET', redirect:'follow'});
      const api_data = await api_rsp.json();
      console.log('GET:', api_url, api_data);

      const player = api_data.player || {};
      if (player.regular_rating === undefined) {
        this.errs.push(`CFC id "${cfc_id}" not found.`)
        this.mode = 'errs';
        return;
      }
      this.r_now = player.regular_rating;
      this.fide_adj = Math.round(Math.min(400, 0.4 * (2000 - this.r_now)));
      this.fide_adj_pre = Math.trunc(this.fide_adj / 2);
      this.fide_adj_post = this.fide_adj - this.fide_adj_pre;

      const events = player.events || [];
      this.r_2016 = null;
      this.r_2020 = null;
      this.gp_2016_2020 = 0;
      this.gp_2020_now = 0;
      // Note: API returns events sorted in descending order
      for (let i=events.length-1; i>=0; i--) {
        const e = events[i];
        if (e.rating_type !== "R") {
          continue;
        } else if (e.date_end < "2016-01-01") {
          continue;
        } else if (e.date_end < "2020-04-01") {       // Pre-COVID
          this.r_2020 = e.rating_post;
          this.gp_2016_2020 += e.games_played;
        } else {      // Post-COVID
          if (this.r_2020 === null) {
            this.r_2020 = e.rating_pre;
          }
          this.gp_2020_now += e.games_played;
        }
      }
      this.cfc_adj_pre = 2 * this.gp_2016_2020;
      this.cfc_adj_post = 2 * this.gp_2020_now;
      this.adj_pre = Math.min(this.fide_adj_pre, this.cfc_adj_pre);
      this.adj_post = Math.min(this.fide_adj_post, this.cfc_adj_post);
      this.total_adj = this.adj_pre + this.adj_post;
      this.r_adjusted = this.r_now + this.total_adj;
      this.mode = "results";
    }

    function calculate_adjustment() {}

  });
</script>
