+++
title = "Estimateur de notation"
layout = "single"
include_js = "alpine-persist,alpine,page_i18n"

[i18n]
your_rating = "Votre note actuelle"
your_highest = "Vos cotes les plus élevées à vie"
help_highest = "Si inconnu, définissez un nombre élevé (3 000)."
your_opps = "Les notes de votre adversaire"
help_opps = "Entrez uniquement leurs notes (+ - = ne sont plus nécessaires)"
your_score = "Ton score"
games_played = "Parties jouées"
estimate = "Estimation"
your_perf_rating = "Votre note de performance"
before_bonuses = "Votre nouvelle note <i>estimée</i> <i>avant les bonus</i>"
regular_bonus = "Points bonus réguliers"
life_bonus = "Points bonus élevés à vie"
est_new_rating = "Votre nouvelle note <i>estimée</i>"
notes_1 = "Ceci n'est qu'une <i>estimation</i> de votre nouvelle note."
notes_2 = "Votre classement final peut différer pour de nombreuses raisons, mais surtout si vous affrontez des adversaires provisoirement classés ou non."
notes_3 = "Les calculs sont basés sur la section 414 du manuel CFC. Voir le <a href=\"/en/cfc/rules/cfc-handbook-2014/#section-4---cfc-rating-system--fide-rated-events\">LIEN</a>."
+++

<div x-data="estimator">
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <label class="label is-small"><span x-text="_.your_rating"></span>:
        <input class="input is-small" type="number" min="200" max="3000" x-model="r_old" @change="changed" @keyup="changed">
      </label>
    </div>
    <div class="control">
      <label class="label is-small"><span x-text="_.your_highest"></span>:
        <input class="input is-small" type="number" min="200" max="3000" x-model="r_high" @change="changed" @keyup="changed">
      </label>
      <p class="help" x-text="_.help_highest"></p>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="label is-small"><span x-text="_.your_opps"></span>:
        <textarea class="textarea is-small" rows="2" x-model="r_others" @keyup="changed(); count_games()"></textarea>
      </label>
    </div>
    <p class="help" x-text="_.help_opps"></p>
  </div>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <label class="label is-small"><span x-text="_.your_score"></span>:
        <input class="input is-small" type="number" min="0" :max="games" step="0.5" x-model="score" @change="changed" @keyup="changed">
      </label>
    </div>
    <div class="control">
      <label class="label is-small"><span x-text="_.games_played"></span>:
        <input class="input is-small" disabled :value="'/  '+games">
      </label>
    </div>
  </div>
  <button class="button is-primary" @click="estimate" x-text="_.estimate"></button>

  <style>
    .ratings-calc tr td { vertical-align:top; }
    .ratings-calc tr td:first-child { text-align:right; font-weight:bold; width:30%; }
    .ratings-calc tbody tr.new-rating td { background-color:#bfb; }
    .ratings-calc tbody tr.delta td small { font-weight:normal; }
  </style>
  <div x-show="mode==='results'" x-transition:enter.duration.800ms>
    <table class="table ratings-calc">
      <tr>
        <td x-text="score + ' / ' + games"></td>
        <td x-text="_.your_score"></td>
      </tr>
      <tr>
        <td x-text="r_perf"></td>
        <td x-text="_.your_perf_rating"></td>
      </tr>
      <tr x-show="bonus_reg > 0 || bonus_life > 0">
        <td x-text="r_before_bonus"></td>
        <td x-html="_.before_bonuses"></td>
      </tr>
      <tr x-show="bonus_reg > 0">
        <td x-text="bonus_reg"></td>
        <td x-text="_.regular_bonus"></td>
      </tr>
      <tr x-show="bonus_life > 0">
        <td x-text="bonus_life"></td>
        <td x-text="_.life_bonus"></td>
      </tr>
      <tr class="new-rating">
        <td x-text="r_new"></td>
        <td x-html="_.est_new_rating"></td>
      </tr>
      <tr class="delta">
        <td><small x-text="r_delta()"></small></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div x-show="mode==='errs'">
    <div style="background-color:#fdd;">
      <ul>
        <template x-for="err in errs">
          <li x-html="err[1]"></li>
        </template>
      </ul>
    </div>
  </div>
  <div style="margin-top:3rem;">
    <ul>
      <li x-html="_.notes_1"></li>
      <li x-html="_.notes_2"></li>
      <li x-html="_.notes_3"></li>
    </ul>
  </div>
</div>
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('estimator', function () {
      return {
        r_old: this.$persist(1500),
        r_high: this.$persist(3000),
        r_others: this.$persist(""),
        score: this.$persist(0),
        games: 0,
        bonus_reg: 0,
        bonus_life: 0,
        r_perf: 0,
        r_before_bonus: 0,
        r_new: 0,
        errs: [],
        mode: "", //"results",
        _: window.page_i18n || {},

        init: function() {
          this.count_games();
        },

        changed: function() {
          this.mode = '';
        },

        count_games: function() {
          const ratings = this.r_others.match(/\d+/g);
          this.games = (ratings || []).length;
          this.score = Math.min(this.score, this.games);
        },

        estimate: function() {
          this.errs = validate_input(this);
          if (this.errs.length > 0) {
            this.mode = 'errs';
          } else {
            estimate_rating(this);
            this.mode = 'results';
          }
        },

        r_delta: function() {
          const delta = this.r_new - Number(this.r_old);
          return "( " + (delta > 0 ? "+" : "") + delta + " )";
        },
      }
    });

    function validate_input(view_model) {
      const vm = view_model;
      const errs = [];
      //---- Validate r_old
      if (vm.r_old === "" || vm.r_old === 0) {
        errs.push(['r_old', 'Your current rating: is required.']);
      } else if (vm.r_old < 200) {
        errs.push(['r_old', 'Your current rating: must be &ge; 200.']);
      } else if (vm.r_old > 3000) {
        errs.push(['r_old', 'Your current rating: must be &le; 3000.']);
      } else {
        vm.r_old = Number(vm.r_old)
      }

      //---- Validate r_high
      if (vm.r_high === "" || vm.r_high === 0) {
        vm.r_high = 3000;  // not an error; set to high value
      } else if (vm.r_high < 200) {
        errs.push(['r_high', 'Your lifetime highest rating: must be &ge; 200.']);
      } else if (vm.r_high > 3000) {
        errs.push(['r_high', 'Your lifetime highest rating: must be &le; 3000.']);
      } else {
        vm.r_high = Number(vm.r_high)
      }
      //---- Validate r_others
      let ratings = vm.r_others.match(/\d+/g);
      ratings = (ratings || []).map((r) => parseInt(r));
      if (ratings.length < 1) {
        errs.push(['r_others', 'Your opponent\'s ratings: one or more is required.'])
      } else {
        if (Math.min(...ratings) < 200) {
          errs.push(['r_others', 'Opponent ratings must be &ge; 200.'])
        }
        if (Math.max(...ratings) > 3000) {
          errs.push(['r_others', 'Opponent ratings must be &le; 3000.'])
        }
      }
      //---- Validate score
      if (vm.score === "") {
        errs.push(['score', 'Your score: is required.']);
      } else if (vm.score < 0) {
        errs.push(['score', 'Your score: must be &ge; 0.']);
      } else if (vm.score > vm.games) {
        errs.push(['score', 'Your score: must be &le; # of games.']);
      } else {
        const score_x2 = parseFloat(vm.score) * 2;
        vm.score = Math.round(score_x2) / 2.0;
      }
      return errs;
    }

    function estimate_rating(view_model) {
      // From: https://www.chess.ca/en/cfc/rules/cfc-handbook-2014/#section-4---cfc-rating-system--fide-rated-events
      const vm = view_model;

      //---- Calculate NEW rating (before bonuses)
      const r_opponents = vm.r_others.match(/\d+/g).map((r) => parseInt(r));
      const expected = r_opponents.map((r) => calc_expected_result(vm.r_old, r));
      const expected_score = expected.reduce((tot, val) => tot + val, 0.0);
      const k = (vm.r_old >= 2199) ? 16 : 32;
      vm.r_new = vm.r_old + k * (vm.score - expected_score);

      //---- Calculate PERFORMANCE rating
      const r_opponents_avg = r_opponents.reduce((tot, r) => tot + r, 0) / r_opponents.length;
      const wins_minus_losses = vm.score - (vm.games - vm.score);
      const r_perf = r_opponents_avg + 400 * (wins_minus_losses) / vm.games;
      vm.r_perf = Math.round(r_perf);

      //---- Adjust if crossing 2199
      if (vm.r_old < 2199 && vm.r_new > 2199) {
        // Rating gain above 2199 are reduced by 1/2.
        const adjust = (vm.r_new - 2199) / 2;
        vm.r_new = vm.r_new - adjust;
      }
      if (vm.r_old >= 2199 && vm.r_new < 2199) {
        // Ratings loss below 2199 are doubled.
        const adjust = (2199 - vm.r_new) / 2;
        vm.r_new = vm.r_new - adjust;
      }

      //---- Adjust for bonus points (must play 4+ games)
      if (vm.games >= 4) {
        // Values are as defined in the formulas in the CFC Handbook
        const RMaxBonus = 20;
        const RChangeBonus = 1.75;
        const RChangeThreshold = 13;
        const k_under_2200 = 32;
        const Ke = k / k_under_2200;
        const Threshold = RChangeThreshold * Ke * Math.sqrt(parseInt(vm.games));
        const a = (vm.r_new > vm.r_high) ? 1 : 0;
        const b = (vm.r_new > (vm.r_old + Threshold)) ? 1 : 0;
        const bonus1 = a * RMaxBonus * Ke;
        const bonus2 = b * RChangeBonus * (vm.r_new - vm.r_old - Threshold) * Ke;

        vm.r_before_bonus = Math.round(vm.r_new);
        vm.bonus_reg = Math.round(bonus2);
        vm.bonus_life = Math.round(bonus1);
        vm.r_new = vm.r_new + vm.bonus_reg + vm.bonus_life;
      }
      vm.r_new = Math.round(vm.r_new);
    }

    function calc_expected_result(r_player, r_opponent) {
      // From: https://www.chess.ca/en/cfc/rules/cfc-handbook-2014/#section-4---cfc-rating-system--fide-rated-events
      const diff_to_expected = [
        // [rating diff low, high, expected if higher, expected if lower]
        [0, 3, .50, .50],
        [4, 10, .51, .49],
        [11, 17, .52, .48],
        [18, 25, .53, .47],
        [26, 32, .54, .46],
        [33, 39, .55, .45],
        [40, 46, .56, .44],
        [47, 53, .57, .43],
        [54, 61, .58, .42],
        [62, 68, .59, .41],
        [69, 76, .60, .40],
        [77, 83, .61, .39],
        [84, 91, .62, .38],
        [92, 98, .63, .37],
        [99, 106, .64, .36],
        [107, 113, .65, .35],
        [114, 121, .66, .34],
        [122, 129, .67, .33],
        [130, 137, .68, .32],
        [138, 145, .69, .31],
        [146, 153, .70, .30],
        [154, 162, .71, .29],
        [163, 170, .72, .28],
        [171, 179, .73, .27],
        [180, 188, .74, .26],
        [189, 197, .75, .25],
        [198, 206, .76, .24],
        [207, 215, .77, .23],
        [216, 225, .78, .22],
        [226, 235, .79, .21],
        [236, 245, .80, .20],
        [246, 256, .81, .19],
        [257, 267, .82, .18],
        [268, 278, .83, .17],
        [279, 290, .84, .16],
        [291, 302, .85, .15],
        [303, 315, .86, .14],
        [316, 328, .87, .13],
        [329, 344, .88, .12],
        [345, 357, .89, .11],
        [358, 374, .90, .10],
        [375, 391, .91, .09],
        [392, 411, .92, .08],
        [412, 432, .93, .07],
        [433, 456, .94, .06],
        [457, 484, .95, .05],
        [485, 517, .96, .04],
        [518, 559, .97, .03],
        [560, 619, .98, .02],
        [620, 734, .99, .01],
        [735, 999999, 1.00, .00]
      ];
      const r_diff = Math.abs(r_opponent - r_player);
      for (let i=0; i<diff_to_expected.length; i++) {
        const d2e = diff_to_expected[i];
        if (r_diff >= d2e[0] && r_diff <= d2e[1]) {
          return (r_player > r_opponent) ? d2e[2] : d2e[3];
        }
      }
      return (r_player > r_opponent) ? 1.0 : 0.0;
    }
  });
</script>
